body{
    background-image: url(./harry\ 3.jpg);

 
}
h1 {
   color: rgb(236, 164, 28);
  }
  a{
   
    margin-right: 30px;
    color: rgb(78, 46, 3);
    background-color: rgba(255, 214, 167, 0.555);
  }

  div{
    background-color: rgba(240, 248, 255, 0.568);

    margin: 10px;
  }

